.movie-details-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;

  .movie-poster {
    img {
      width: 100px;
    }
  }

  .movie-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;

    * {
      margin: unset;
    }

  }
}
