.movie-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);

  * {
    color: white;
  }

  .movie-title{
    font-size: 1.2rem;
  }
  .movie-duration{
    font-size: 1rem;
    text-align: left;
  }
  .movie-item {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
}
