.movie-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));


  .movie-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    transition: transform 0.3s;
    color: #ffffff;

    &:hover {
      transform: scale(1.02);
    }


    .movie-title {
      font-size: 1.2rem;
    }

    .movie-duration {
      font-size: 1rem;
    }

    .movie-rating {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      color: gold;
    }

    img {
      max-height: 300px;
    }
  }
}
